<ent-header>
    <title-section title="My Plugin" description="I'll update this at the last minute">
    </title-section>
</ent-header>

<div class="ui cards">
    <div class="card book-cover" ng-click="ctrl.viewBook(book)" ng-repeat="book in ctrl.books">
        <div class="image">
            <img src="{{ book.images[0] }}">
        </div>
        <div class="content">
            <div class="header">{{ book.title }}</div>
            <div class="meta">
                <a class="group">By {{ book.author }}</a>
            </div>
            <div class="description">
                {{ book.description }}
            </div>
        </div>
    </div>
</div>